.menu,
.menu-bg,
.menu-burger {
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 100%;
  right: 25px;
  top: 25px;
  z-index: 1000;
}

@media (max-width: 530px) {
  .menu-burger {
    top: 10px;
    right: 10px;
  }
}

.c-white {
  color: white !important;
}

.menu-bg {
  pointer-events: none;
  transition: 0.3s;
  right: 50px;
  top: 50px;
  transform: translate3d(50%, -50%, 0);
  transform-origin: center center;
}

.menu-bg.fs {
  transform: translate3d(50%, -50%, 0);
  width: 300vw;
  height: 300vw;
  background: #663399;
}

.menu-burger {
  color: #630092;
  padding-top: 8px;
  -webkit-user-select: none;
  cursor: pointer;
  transition: 0.4s;
  transform-origin: center;
}

.menu-burger.fs {
  transform: rotate(-180deg) translateY(10px);
}

.menu-items {
  position: absolute;
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 40px;
  color: white;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: 0.4s;
  margin-top: 0px;
  transform: translateY(-200%);
  pointer-events: none;
}

.menu-items div {
  padding: 0;
  transition: 1s;
  opacity: 0;
  margin-top: 0px;
}

.menu-items.fs {
  z-index: 1000;
  transform: translateY(0);
  pointer-events: auto;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-items.fs div {
  opacity: 1;
  align-items: center;
  margin-top: 20px;
}

.menu-items div:hover {
  cursor: pointer;
}

.menu-burger:hover {
  cursor: pointer !important;
}
