* {
  font-family: "Courier New", Courier, monospace;
}

.main-box {
  border: 1px #c9cfd11a solid;
  margin-bottom: 1rem;
}

.details h1 {
  margin: 0.5rem 0.5rem 1rem;
}

.varsity-name .icon {
  margin-left: 2vh;
  color: #2c3e50;
}

.varsity-name {
  text-transform: capitalize;
}

.varsity-name p {
  margin-left: 2.4vh;
}
