.hello__outer {
  padding-top: 60px;
  margin-left: 0vw;
  margin-right: auto;
  padding-right: 15px;
  max-width: 720px;
  width: 80vw;
  padding-bottom: 50px;
}

.headings {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 42px;
  color: #555555;
}

.hello__para {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #555555;
}

.hello__button {
  background-color: #6d56c1;
  border-radius: 25px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 15px;
  min-width: 170px;
  text-align: center;
  display: inline-block;
  color: #fff !important;
  font-weight: 600;
  overflow: hidden;
  text-decoration: none;
}
.hello__button i {
  height: 14px;
  margin-top: -5px;
  margin-right: 5px;
}
.hello__button:focus,
.hello__button:hover {
  background-color: #7b67c7;
  text-decoration: none;
  transition: all 0.3s ease;
}
